# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
dotnet_style_readonly_field = false:none
dotnet_diagnostic.IDE0051.severity = none
dotnet_diagnostic.IDE0251.severity = none

# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = false
